<template>
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
      <b-form @submit.prevent="login()">
        <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-1"
            type="email"
            v-model="payload.username"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
          <b-form-input
            id="input-2"
            type="password"
            v-model="payload.password"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
	name: 'login',
	data() {
		return {
			payload: {
				username: '',
				password: ''
			}
		}
	},
	methods: {
		login: function () {
			this.$axios({
				url: '/v1/auth/login',
				data: this.payload,
				method: 'POST'
			})
      .then((resp) => resp.data)
			.then((resp) => {
				const token = resp.accessToken;
				const refreshToken = resp.refreshToken;
				const user = JSON.stringify(resp);
				localStorage.setItem('token', token);
				localStorage.setItem('refresh_token', refreshToken);
				localStorage.setItem('user', user);

        this.$store.commit('auth_success', resp)

        this.$router.push({name: 'Todo'})
			})
			.catch(err => {
				alert(err)
			})
		}
	}
}
</script>