<template>
  <div class="row">
    <div class="col-md-12">
      <div class="row mt-4">
        <div class="col-md-6 mx-auto">
          <button class="btn btn-info float-right" @click="addTodo">Add</button>
        </div>
      </div>
      <div class="row my-4" v-for="(todo, index) in todos" :key="todo.id">
        <div class="col-md-6 mx-auto text-left">
          <b-card header-tag="header" footer-tag="footer">
            <template #header>
              <h6 class="mb-0">Todo - {{ index + 1 }}
                <span v-if="todo.isEdit">
                  <button class="btn btn-success float-right" @click="storeTodo(index, todo)">save</button>
                  <button class="btn btn-warning float-right" @click="editTodo(index)">cancel</button>
                </span>
                <span v-else>
                  <button class="btn btn-success float-right" @click="editTodo(index)">edit</button>
                  <button class="btn btn-danger float-right" @click="deleteTodo(index)">delete</button>
                </span>
              </h6>
            </template>
            <form v-if="todo.isEdit">
              <input type="hidden" value="todo.id">
              <b-form-group
                  id="input-group-1"
                  label="Todo Name:"
                  label-for="input-1"
              >
                <b-form-input
                    id="input-1"
                    type="text"
                    v-model="todo.name"
                    placeholder="Enter Todo Name"
                    required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                  id="input-group-2"
                  label="Todo Description:"
                  label-for="input-2"
              >
                <b-form-input
                    id="input-2"
                    type="text"
                    v-model="todo.description"
                    placeholder="Enter Todo Description"
                    required
                ></b-form-input>
              </b-form-group>
            </form>
            <div v-else>
              <b-card-text>{{ todo.name }}</b-card-text>
              <b-card-text>{{ todo.description }}</b-card-text>
            </div>
            <template #footer>
              <em>{{ version }}</em>
            </template>
          </b-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
  name: 'todo-list',
  data() {
    return {
      version: '',
      todos: [],
      form: {
        id: '',
        name: '',
        description: '',
        isEdit: true
      }
    }
  },
  apollo: {
    version: {
      query: gql`query {version}`
    },
  },
  methods: {
    getTodo() {
      this.$apollo.query({
        query: gql`query {
        getTodos {
          id
          name
          description
        }
      }`
      }).then(response => {
        let todosData = response.data.getTodos
        this.todos = todosData.sort((a, b) => b.id - a.id)
        this.todos.forEach(value => {
          this.$set(value, 'isEdit', false)
        })
      }).catch(err => {
        console.log(err)
      })
    },
    addTodo() {
      this.todos.unshift(this.form)
    },
    editTodo(index) {
      if (this.todos[index].id) {
        this.todos[index].isEdit = !this.todos[index].isEdit;
      } else {
        this.todos.splice(index, 1)
      }
    },
    storeTodo(index, payload) {
      if (payload.id) {
        this.$apollo.mutate({
          mutation: gql`mutation ($id: ID!, $name: String!, $description: String!) {
            updateTodo(id: $id, name: $name, description: $description) {
              id
              name
              description
            }
          }
          `,
          variables: {
            id: payload.id,
            name: payload.name,
            description: payload.description,
          }
        }).then(resp => {
          console.log(resp)
          this.todos[index].name = resp.data.updateTodo.name
          this.todos[index].description = resp.data.updateTodo.description
          this.todos[index].isEdit = false
        }).catch(err => {
          console.log(err)
        })
      }
      else {
        this.$apollo.mutate({
          mutation: gql`mutation ($name: String!, $description: String!) {
            newTodo(name: $name, description: $description) {
              id
              name
              description
            }
          }
          `,
          variables: {
            name: payload.name,
            description: payload.description,
          }
        }).then(resp => {
          console.log(resp)
          this.todos[index].isEdit = false
        }).catch(err => {
          console.log(err)
          this.todos.splice(index, 1)
        })
      }
    },
    deleteTodo(index) {
      if (!this.todos[index].id) {
        this.todos.splice(index, 1)
      }
      else {
        this.$apollo.mutate({
          mutation: gql`mutation ($id: ID!) {
              deleteTodo(id: $id)
            }
          `,
          variables: {
            id: this.todos[index].id,
          }
        }).then(resp => {
          console.log(resp)
          this.todos.splice(index, 1)
        }).catch(err => {
          console.log(err)
        })
      }
    }
  },
  mounted() {
    this.getTodo()
  }
}
</script>