<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">NavBar</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <router-link class="nav-link" to="/">Home</router-link>
          <router-link class="nav-link" to="/about">About</router-link>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-navbar-nav v-if="!this.isLoggedIn" right>
            <router-link class="nav-link" to="/login">Login</router-link>
          </b-navbar-nav>
          <b-nav-item-dropdown right v-else>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="/about">Profile</b-dropdown-item>
            <b-dropdown-item href="/about">Signout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import authMixin from "../mixins/auth.mixin";
import { mapState } from "vuex";
export default {
	name: 'navbar',
  mixins: [authMixin],
  data() {
    return {}
  },
  computed: {
    ...mapState({
      username: state => state.user.username
    })
  }
}
</script>
<style>
/* .navbar-nav {
  padding: 30px;
} */

.navbar-nav > a {
  font-weight: bold;
  color: #2c3e50;
}

.navbar-nav > a.router-link-exact-active {
  color: #42b983;
}
</style>